.imageContainer {
  float: left;
  min-height: 100px;
  width: 500px;
  background-color: #808080;
  margin: 10px;
  position: relative;
  }
  .imageContainer img {
    height: 200px;
    width: 500px;
  }

.editButton {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.carousel-inner img {
  height: 768px;
  width: 1920px;
}

.result-list {
  width:900px;
  float:left; }
  .result-list .blog-post {
    float:left;
    width:900px;
    padding:20px; }
    .result-list .blog-post .blog-title {
      font-weight:bold;
      font-size:16px;
      color: #337ab7; }
    .result-list .blog-post .blog-categories {
      padding-top:7px;
      color: #aaaaaa; }


.categories {
  float:left;
  margin-left:20px; }
  .categories .category-title {
    font-weight:bold;
    font-size:16px;
    color: #337ab7; }
  .categories .facet-list {
    float:left; }
    .categories .facet-list .facet-item {
      width:200px; }
      .categories .facet-list .facet-item .facet-name {
        width:175px;
        float:left; }
      .categories .facet-list .facet-item .facet-count {
        width:25px;
        float:right; }