/*.imageContainer {
  float: left;
  min-height: 100px;
  width: 500px;
  background-color: #808080;
  margin: 10px;
  position: relative;
  }
  .imageContainer img {
    height: 200px;
    width: 500px;
  }

.editButton {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.carousel-inner img {
  height: 768px;
  width: 1920px;
}*/